**/*.jar
!**/*agent.jar
**/.vscode/
**/target/
**/.mvn/
**/.terraform/
**/terraform.tfstate
**/.terraform.lock.hcl
**/.DS_Store
**/node_modules/
adot-ecs-java-demo/apps/angular-demo/**



adot-ecs-java-demo/apps/hello/demo/agents/session.properties
