otel.jmx.service.url = service:jmx:rmi:///jndi/rmi://localhost:1099/jmxrmi
otel.jmx.target.system = jvm
otel.jmx.interval.milliseconds = 5000
otel.metrics.exporter = otlp
otel.exporter.otlp.endpoint = {{adot-server-endpoint}}
